{% extends 'layout/base.html.twig' %}

{% block main %}
    <main>
        <div class="maw-70 m-auto mt-3 mb-3 d-f fd-c">
            <section id="home-presentation">
                <div class="ta-l fb-50">
                    <h1 class="big-title">Bonjour,<br> moi c'est {{ content.user.fullName|default('Etienne Doux') }}, bienvenue sur mon blog</h1>
                    <h5 class="mt-0-5">Web backend / frontend / gamedev / design / digital art</h5>
                    <div class="home-buttons">
                        <a href="https://tavrin.io/portfolio">
                            <button class="m-0-5 button-bb-wc-2 br-5 fw-600">Portfolio</button>
                        </a>
                        <a href="/uploads/cv.pdf" download="cv-tavrin">
                            <button class="m-0-5 button-bb-wc-2 br-5 fw-600">Mon CV</button>
                        </a>
                    </div>
                </div>
                <div class="ta-c fb-50">
                    <img src="/assets/img/photo-etienne.jpg" class="maw-50 h-a br-50">
                </div>
            </section>
            <section id="home-articles" class=" m-auto pt-3 w-100">
                <div class="ta-c">
                    <h2 class="fw-600">Articles à la une</h2>
                </div>
                <div class="d-f ai-c js-slider" data-type="dotted">
                    <a href="#" role="button"><i class="fas fa-chevron-left fs-3 slider-previous"></i></a>
                    <div class="d-f fd-r flex-w jc-sb mt-1 mb-3 pb-3 featured-container w-100">
                        {% if content.posts is defined and content.posts is iterable %}
                            {% for post in content.posts %}
                                <div class="featured-item {% if loop.first %}active{% endif %}" data-order="{{ loop.index - 1 }}">
                                    <div class="featured-item-image">
                                        {% include'/partials/inc/listing_media.html.twig' %}
                                    </div>
                                    <p class="pt-1 pb-1 fs-1c3 fw-700">
                                        <span class="d-b fs-07 tt-u mb-0-5 fw-500">
                                            <a href="{{ post.category.path }}">{{ post.category.name }}</a>
                                            <span class="float-r"> {{ post.createdAt|date("d-m-Y") }}</span>
                                        </span>
                                        <a class="pt-1 pb-1 fs-1c6 fw-900" href="{{ post.path }}">{{ post.title }}</a>

                                    </p>
                                    <div class="post-listing-description">{{ post.header|parseEditor|raw|length > 255 ? (post.header|parseEditor(true)|striptags|slice(0, 255, true))|raw ~ '...': post.header|parseEditor(true)|raw }}</div>
                                    <a href="{{ post.path }}" class="mt-1 button-bb-wc-2 p-1 br-5 fw-600 ta-c maw-50 as-c pos-a listing-button">
                                        Lire la suite
                                    </a>
                                </div>
                            {% endfor %}
                            <div class="m-auto">
                                {% for post in content.posts %}
                                        <span class="featured-dot" data-order="{{ loop.index - 1 }}">{% if loop.first %}<i class="fas fa-circle"></i>{% else %}<i class="far fa-circle"></i>{% endif %}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <a  href="#" role="button"><i class="fas fa-chevron-right fs-3 slider-next"></i></a>
                </div>
                <div class="ta-c mb-3">
                    <a href="/blog"> Voir tous les articles</a>
                </div>
            </section>
            <section id="home-contact">
                <div  class="m-auto maw-70">
                    <h2 class="ta-c fw-900">Contactez moi</h2>
                    {{ form.render|raw }}
                </div>
            </section>
        </div>
    </main>
{% endblock %}