{% extends 'layout/base.html.twig' %}

{% block main %}
    <main class="bcg-light4">

        <div class="maw-90 m-auto mt-3 mb-3 d-f fd-c">
            <section id="home-articles" class="w-100 m-auto pt-3">
                <div class="ta-l">
                    <h1 class="fw-600">{{ content.currentCategory.name ?? 'Tous les articles'}}</h1>
                </div>
                <div class="post-listing-grid grid-7">
                    {% if content.items is defined and content.items is not empty %}
                        {% for post in content.items %}

                            <div class="post-listing">
                                <div class="featured-item-image">
                                    {% include'/partials/inc/listing_media.html.twig' %}
                                </div>
                                <p class="pt-1 pb-1 fs-1c3 fw-700">
                                    <span class="d-b text-muted fs-07 tt-u mb-0-5 fw-500">
                                        <a href="{{ post.category.path }}">{{ post.category.name }}</a>
                                        <span class="float-r"> {{ post.createdAt|date("d-m-Y") }}</span>
                                    </span>
                                    {{ post.title }}
                                </p>
                                <div class="ofw-bw lh-1c7">{{ post.header|parseEditor|raw|length > 255 ? (post.header|parseEditor(true)|striptags|slice(0, 255, true))|raw ~ '...': post.header|parseEditor(true)|raw }}</div>
                                <a href="{{ post.path }}" class="mt-1 button-bb-wc-2 p-1 br-5 fw-600 ta-c maw-50 as-c pos-a listing-button">
                                    Lire la suite
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="maw-70 m-auto mt-3 mb-3 pt-3 d-f fd-c">
                            <section class="d-f jc-c m-auto pt-3 pb-3 mb-3">
                                <div class="ta-l">
                                    <h2 class="fw-600 fs-3-5 lh-3c5">Aucun article</h2>
                                    <a href="/">
                                        <button class="m-0-5 button-bb-wc-2 br-5 fw-600">Retour à la page d'accueil</button>
                                    </a>
                                </div>
                            </section>
                        </div>
                    {% endif %}

                </div>
                <div class="ta-c mb-3">
                    {% include '/partials/inc/pagination.html.twig' %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}