{% extends 'layout/admin_index_base.html.twig' %}

{% block main %}
    <main>
        <div id="table-page">
            <section class="w-100 m-auto pt-3">
                <div class="ta-l">
                    <h1 class="fw-600">Commentaires</h1>
                </div>
                <div class="d-f fd-r flex-w grid-3 jc-sa mt-1 pb-3">
                    <div class="table-container">
                        <div class="ai-c pt-1 fs-1c3 fw-700 d-f fd-r jc-sa bcg-light3 table-titles-desktop">
                            <span class="table-title-item fb-15">Nom de l'auteur</span>
                            <span class="table-title-item fb-25">Commentaire</span>
                            <span class="table-title-item fb-5">Statut</span>
                            <span class="table-title-item b-10">Article associé</span>
                            <span class="table-title-item fb-10">Date de publication</span>
                            <span class="table-title-item  fb-10">Operation</span>
                        </div>
                        {% for comment in content.items %}
                        <div class="table-row">
                            <div class="table-titles-mobile">
                                <span class="table-title-item fb-15">Nom de l'auteur</span>
                                <span class="table-title-item fb-25">Commentaire</span>
                                <span class="table-title-item fb-5">Statut</span>
                                <span class="table-title-item fb-10">Article associé</span>
                                <span class="table-title-item fb-10">Date de publication</span>
                                <span class="table-title-item fb-10">Operation</span>
                            </div>
                            <div class="table-info {% if not loop.last %} bb-dg {% endif %}">
                                <span class="table-info-item fb-15">{{ comment.user.username }}</span>
                                <span class="table-info-item fb-25">{{ comment.content|slice(0, 200) ~ '...' }}</span>
                                <span class="table-info-item fb-5">{{ comment.status ? 'activé' : 'desactivé'}}</span>

                                <a class=" fb-10 fs-09" href="{{ comment.path?? comment.post.path }}">{{ comment.post.title }}</a>
                                <span class="table-info-item fb-10">{{ comment.createdAt|date("d/m/Y: H:i") }}</span>
                                <span class="table-info-item fb-10">
                                    <button class="table-action-button button-bb-wc js-toggle" data-type="display" data-target-id="actionDropdown{{ loop.index }}">Action</button>
                                     <ul class="dropdown d-n" id="actionDropdown{{ loop.index }}">
                                        <li><a href="/admin/comments/{{ comment.slug }}/updatestatus" class="">{{ comment.status ? 'désactiver' : 'activer' }}</a></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div>
                        {% include '/partials/inc/pagination.html.twig' %}
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}